# CZ3006 Lab 4 - Network Traffic Analysis

## read data

In [27]:
import pandas as pd


dataframe = pd.read_csv('data/test_SFLow_data.csv')
dataframe.head()

,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012,3012.1,152.3.219.19,...,50,0x00,245,0,0.1,0x00.1,1518,1496,2048,Unnamed: 20
0,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
1,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
2,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
3,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
4,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN

## add own column names (since column names not given)

In [28]:
dataframe.columns = [
    'type',
    'sflow_agent_ip',
    'input_port',
    'output_port',
    'source_mac',
    'destination_mac',
    'ethernet_type',
    'in_vlan',
    'out_vlan',
    'source_ip',
    'destination_ip',
    'ip_protocol',
    'ip_type_of_service',
    'ip_ttime_to_live',
    'source_port',
    'destination_port',
    'tcp_flags',
    'packet_size',
    'ip_size',
    'sampling_rate',
    '_',
]
print(dataframe.columns)

Index(['type', 'sflow_agent_ip', 'input_port', 'output_port', 'source_mac',
       'destination_mac', 'ethernet_type', 'in_vlan', 'out_vlan', 'source_ip',
       'destination_ip', 'ip_protocol', 'ip_type_of_service',
       'ip_ttime_to_live', 'source_port', 'destination_port', 'tcp_flags',
       'packet_size', 'ip_size', 'sampling_rate', '_'],
      dtype='object')

In [29]:
dataframe.head()

,type,sflow_agent_ip,input_port,output_port,source_mac,destination_mac,ethernet_type,in_vlan,out_vlan,source_ip,...,ip_protocol,ip_type_of_service,ip_ttime_to_live,source_port,destination_port,tcp_flags,packet_size,ip_size,sampling_rate,_
0,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
1,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
2,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
3,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN
4,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,...,50,0x00,245,0.0,0,0x00,1518,1496,2048,NaN

## drop last column (empty column)

In [30]:
dataframe = dataframe.drop('_', axis=1)
dataframe.head()

,type,sflow_agent_ip,input_port,output_port,source_mac,destination_mac,ethernet_type,in_vlan,out_vlan,source_ip,destination_ip,ip_protocol,ip_type_of_service,ip_ttime_to_live,source_port,destination_port,tcp_flags,packet_size,ip_size,sampling_rate
0,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,198.71.44.98,50,0x00,245,0.0,0,0x00,1518,1496,2048
1,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,198.71.44.98,50,0x00,245,0.0,0,0x00,1518,1496,2048
2,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,198.71.44.98,50,0x00,245,0.0,0,0x00,1518,1496,2048
3,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,198.71.44.98,50,0x00,245,0.0,0,0x00,1518,1496,2048
4,FLOW,aa.aa.aa.aa,258,20,204e71cf1b0f,002438aa0a00,0x0800,3012.0,3012,152.3.219.19,198.71.44.98,50,0x00,245,0.0,0,0x00,1518,1496,2048

## check for NaNs

In [31]:
dataframe_has_nan = False
for column in dataframe.columns:
    if dataframe[column].isna().values.any():
        print(f'{column} has NaN values')
        dataframe_has_nan = True

if dataframe_has_nan:
    print('dataframe has NaN values')
else:
    print('dataframe does not have NaN values')

dataframe does not have NaN values

### no NaNs! good - time to start analysing the data

## 4A - Top 5 talkers

In [32]:
print(dataframe.source_ip.value_counts().nlargest(5))

152.3.219.19       125
207.241.228.157     66
130.14.250.13       63
193.62.192.8        46
192.122.131.36      40
Name: source_ip, dtype: int64

### top 5 talker organisations

- 152.3.219.19 - Duke University
- 207.241.228.157 - Internet Archive
- 130.14.250.13 - National Library of Medicine
- 193.62.192.8 - RIPE Network Coordination Centre
- 192.122.131.36 - Asia Pacific Network Information Centre

[reference](https://who.is/)

## 4A - Top 5 listeners

In [33]:
print(dataframe.destination_ip.value_counts().nlargest(5))

198.71.44.98      125
103.37.198.100     98
210.48.222.9       66
137.132.228.15     50
202.21.159.244     38
Name: destination_ip, dtype: int64

### top 5 listener organisations

- 198.71.44.98 - Internet2
- 103.37.198.100 - Asia Pacific Network Information Centre
- 210.48.222.9 - Asia Pacific Network Information Centre
- 137.132.228.15 - Asia Pacific Network Information Centre
- 202.21.159.244 - Asia Pacific Network Information Centre

[reference](https://who.is/)

## 4B - Transport Protocols

In [34]:
print(dataframe.ip_protocol.value_counts())

6      879
50     139
17     135
0       28
47      14
41       2
381      1
1        1
Name: ip_protocol, dtype: int64

### protocols

- 6 - Transmission Control Protocol (TCP)
- 50 - Encapsulating Security Payload (ESP)
- 17 - User Datagram Protocol (UDP)
- 0 - IPv6 Hop-by-Hop Option (HOPOPT)
- 47 - Generic Routing Encapsulation (GREs)
- 41 - IPv6 Encapsulation (IPv6)
- 381 - ?
- 1 - Internet Control Message Protocol (ICMP)

[reference](https://en.wikipedia.org/wiki/List_of_IP_protocol_numbers)

### transport protocols number of packets

- TCP: 879
- UDP: 135

[reference](https://en.wikipedia.org/wiki/Transport_layer#Protocols)

## 4C - Applications Protocols

In [36]:
# question did not specify top n
# set n as 10, then use top 5 in answer
print(dataframe.destination_port.value_counts().nlargest(10))

443      234
56152     82
0         81
43930     45
80        37
52866     32
4789      29
44476     21
57435     18
4920      13
Name: destination_port, dtype: int64

### top 5 application service and packets

- 443 - HTTPS - 234
- 56152 - dynamic / private port (unknown) - 82
- 0 - wildcard port - 81
- 43930 - registered port (unknown) - 45
- 80 - HTTP - 37

## 4D - Traffic Intensity

In [37]:
print(f'total traffic (MB): {dataframe.ip_size.sum() / 2**(10*2)}')

total traffic (MB): 1.0284299850463867

## 4E - Top 5 communication pair

## 4E - Visualising the communication between the different IP hosts